<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/style.css">

</head>

<body>
  <div class='header'>
    <h1>Greet Web Form</h1>
    <a href='/greeted'>Names Greeted</a>
  </div>
  <hr>

  <div class='input2'>
    {{#if messages.error}}
      <div class='flashErr'>
        <h2>{{messages.error}}</h2>
      </div>
    {{/if}}
    <form class='' action='/greetings' method='POST'>
      <div class='field2'>
        <input type="text" name="greeting" placeholder="type ur name here">
      </div>
      <br>

      <p>Counter: <a>{{counter}}</a></p>


      <div class='form-radio'>
        <span>
          <input type="radio" name="language" value="english"/>
          <label>English</label>
          <br>
          <input type="radio" name="language" value="afrikaans"/>
          <label>Afrikaans</label>
          <br>
          <input type="radio" name="language" value="colombia"/>
          <label>Colombia</label>
        </span>
        <br>
        <br>

      </div>
      <input type='submit' name='greetBtn' value='Greet Me!'>
    </form>
  </div>
  <hr>
  <ul>
    {{lang}} {{name}} {{message}}
    {{#each greetings}}
      <li>{{name}}</li>
    {{/each}}
  </ul>
  </div>
</body>
